@import url('globales.css');

.card-character-title{
    background-color: var(--color-red);
    width: 64rem;
    font-size: 6rem;
    border-left: 2rem solid var(--color-black);
    border-bottom: 2rem solid var(--color-black);
    margin-bottom: 0;
}

.card-character-content{
    background-color: var(--color-black);
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;

}
.card-p{
    font-size: 1.5rem;
    font-weight: 400;
}

.card-content-facts{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.card-character-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}
.card-image{
    width: 80%;
    /* height: auto; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img{
    width: 80%;
    height: auto;
}

.card-character-facts{
    font-size: 1.5rem;
}
