:root {
    /* colores */
    --color-blue: #112858;
    --color-red: #870e0c;
    --color-yellow: #e6c647;
    --color-withe: #E7E7EC;
    --color-black: #171717;

    /* fuentes */
    --font-family-base: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}