/* css generales tienen que estar en este archivo */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;


}

body {
  font-family: Arial, sans-serif;
  /* Define la fuente */
  padding: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(204, 198, 191);



}

header {
  margin-bottom: 20px;
  text-align: center;
  /* Centra el contenido del header */
  background-image: linear-gradient(rgba(43, 3, 47, 0.35), rgba(144, 109, 137, 0.244)), url("/imagenes/imagen2.png");

}

body header h1 {
  margin: 30px;
  /* Espacio superior */
  font-size: 3em;
  /* Tamaño de fuente */
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(136, 56, 92);

}

footer {
  max-width: 100%;
  background-image: linear-gradient(rgba(163, 146, 165, 0.35), rgba(144, 109, 137, 0.244)), url("/imagenes/imagen4.png");
  padding: 20px;
  bottom: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(136, 56, 92);
  font-size: 2em
}

#curious_fact {
  max-width: 100%;
  background-image: linear-gradient(rgba(163, 146, 165, 0.35), rgba(144, 109, 137, 0.244)), url("/imagenes/imagen1.png");
  padding: 10px;
  bottom: 0%;
  text-align: center;
  margin: 10px;
  color: rgb(36, 35, 35);
  text-shadow: 2px 2px 5px rgb(136, 56, 92);
  font-size: 2em;
}

h3 {
  color: rgb(3, 2, 3);
  text-shadow: 2px 2px 5px rgb(246, 242, 242);
}

#curious_fact div {
  margin: 30px;
}

.hidden {
  display: none;
}

.apikey {
  font-size: 12px;
  color: #000;
  position: absolute;
  top: 30px;
  right: 30px;
}

button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5%;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(198, 136, 191);
}

#return-home {
  background-color: #f1f1f1;
  color: black;
}
