html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(254, 106, 208, 0.5);
    padding: 0.9em;
}

nav a {
    color: #fff;
    font-family: 'Fresca', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-decoration: none;
    margin-right: 3em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e9de4b;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-top: 5em;
    background-color: rgba(254, 106, 208, 0.30);
    box-shadow: 0px 0px 12px 3px rgb(249, 248, 250); 
    min-height: 60vh;
    width: 90%;
    top: 5%;
    left: 5%;
    border-radius: 1.4em;
    overflow: visible;
}

.wing {
    width: 5%;
    position: absolute;
    top: 10%;
    left: 18%;
    transform: rotate(-7deg);
}

.wing-heart {
    width: 5%;
    position: absolute;
    top: 11%;
    right: 40%;
    transform: rotate(7deg);
}

.home-welcome {
    background-color: rgba(247, 245, 246, 0.);
    font-family: 'Fresca', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 550;
    color: #f0ecf3;
    text-align: center;
    white-space: pre-line;
    padding: 1em;
    display: inline-block;
    border-radius: 0.5em;
    max-width: 50%;
    margin-right: 18em;
}



.highlight1 {
    color: yellow;
    font-weight: bold; /* Opcional: para resaltar aún más */
}
.highlight {
    color: yellow;
    font-weight: bold; /* Opcional: para resaltar aún más */
}
.highlight1 {
    color: yellow;
    font-weight: bold; /* Opcional: para resaltar aún más */
}

.logo-sailor {
    width: 27%;
    margin-right: 18em;
}

.img-banner {
    max-width: 20%;
    position: absolute;
    top: 4em;
    right: 0;
    height: auto;
    z-index: 2;
    margin-right: 12em;
    margin-top: 0;
}

.button-link {
    background-color: #FE6AD0;
    width: 13%;
    height: 2.4em;
    padding: 0.45em;
    border-radius: 0.4em;
    margin-top: 0;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: 'Fresca', sans-serif;
    font-weight: 500;
    color: #fbfcf9;
    box-shadow: 0px 0px 13px 3px rgb(249, 248, 250); 
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 0.1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.button-link:hover {
    background-color: #AB63FC;
    color: #e9de4b;
    transform: scale(1.05);
}

.container-max {
    display: flex;
    justify-content: space-between;
    gap: 9em;
   
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    align-items: flex-start;
    width: 17.5%;
    height: 20%;
    background-color: rgba(250, 246, 255, 0.37);
    box-shadow: 0px 0px 10px 5px rgb(248, 245, 248); 
    border-radius: 0.5em;
    margin-left: 2em;
    margin-top: 12em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    position: relative;
}

.cat {
    width: 7%;
    position: absolute;
    top: 24%;
    left: 15%;
    transform: rotate(3deg);
    filter: contrast(150%) brightness(500%);
}

.search {
    font-family: 'Fresca', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #f6f6fa;
    box-shadow: 0px 0px 10px 5px rgb(248, 245, 248); 
    padding: 1em;
    letter-spacing: 0.2em;
    font-weight: 900;
    color: #680259;
    font-size: 1.1em;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 3.5em;
    text-align: center;
    position: absolute; 
    top: 0; 
    left: 0; 
}

#filterBy {
    background-color: #AB63FC;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    box-sizing: border-box;
    width: 17em;
    height: 2.4em;
    text-align: center;
    outline: none;
    margin-top: 7em;
}

#filterBy:hover {
    background-color: #e74bc0;
}

#sortBy {
    padding: 0.6em;
    background-color: #AB63FC;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    box-sizing: border-box;
    width: 17em;
    height: 2.4em;
    text-align: center;
    outline: none;
}

#sortBy:hover {
    background-color: #e74bc0;
}

.clear-filters {
    color: #f0ecf3;
    border-radius: 0.4em;
    border: none;
    height: 2.4em;
    width: 17em;
    font-size: 1em;
    background-color: #e74bc0;
}

.clear-filters:hover {
    background-color: #AB63FC;
}

.stats-button {
    color: #f0ecf3;
    background-color: #e74bc0;
    border-radius: 0.4em;
    border: none;
    height: 2.4em;
    width: 17em;
    font-size: 1em;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 3em;
    margin-top: 9em;
}

.card-list {
    box-shadow: 0px 0px 10px 5px rgb(248, 248, 244); 
    background-color: #E19EFF;
    border: 4px solid #f5f5f0;
    border-radius: 1.2em;
    list-style: none;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-list:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(255, 254, 254, 0.6);
}

.card-list:hover {
    background-color: #f5b6ff;
}

.card-container h2 {
    font-family: 'Fresca', sans-serif;
    background-color:  #e676f0;
    text-shadow: 2px 2px 4px rgba(129, 34, 133, 0.5);
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    color: yellow;
    padding: 0.4em;
    border-radius: 0.4em;
    width: 50%;
    max-width: 90%;
    margin-top: 0.2em;
    font-weight: 650;
    box-shadow: 0px 0px 10px 5px rgb(248, 245, 248); 
}



.div-item {
    display: flex;
    align-items: center;
}

img[itemprop="image"] {
    height: 18em;
    width: 14em;
    border-radius: 0.86em;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.4);
    object-fit: cover;
    display: block;
    margin-left: 0.7em;
    border: 2px solid rgb(251, 252, 246);  
}



.card-decorative-image {
    width: 10%;
    position: absolute;
    top: 48%;
    left: 3%;
}

.item-facts {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 0.9em;
}

.sign {

    font-family: 'Fresca', sans-serif;
    letter-spacing: 0.01em;
    background-color: #fbf8fd;
    font-size: 1.2em;
    color: #9043E4;
    text-align: center;
    padding: 0.4em;
    border-radius: 0.3em;
    margin-bottom: 0.2em;
}

.date {
    font-family: 'Fresca', sans-serif;
    letter-spacing: 0.01em;
    background-color: #f9f6fc;
    font-size: 1.2em;
    color: #9043E4;
    text-align: center;
    padding: 0.4em;
    border-radius: 0.3em;
    margin: 0;
}

.type {
    color: #9043E4;
    font-family: 'Fresca', sans-serif;
    text-shadow: 1px 1px 2px rgba(129, 34, 133, 0.2);
    font-size: 1.2em;
    letter-spacing: 0.05em;
    background-color: #FFD8FE;
    width: 10%;
    margin-top: 0.7em;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-radius: 0.2em;
    
}

h3 {
    font-family: 'Fresca', sans-serif;
    font-size: 0.6em;
    letter-spacing: 0.03em;
    color: #50178F;
    padding: 0.4em;
    font-weight: 300;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.chat-button {
    background-color: #AB63FC;
    text-align: center;
    width: 50%;
    padding: 0.45em;
    border-radius: 0.4em;
    font-size: 1em;
    font-family: 'Fresca';
    font-weight: 550;
    letter-spacing: 0.03em;
    color: #faf9f4;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 10px 5px rgb(245, 243, 245); 
}

.chat-button:hover {
    text-decoration: underline;
   background-color: #e676f0;
}

/*#chat-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-top: 1em;
    background-color: #E19EFF;
    min-height: 40%;
    width: 70%;
    border-radius: 1.4em;
    overflow: visible;
    margin-left: 35%;
}
*/


#chat-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #E19EFF;
    border-radius: 1em;
    box-shadow: 0px 0px 15px 5px rgb(248, 245, 248); 
    overflow: hidden;
    margin-top: 3em;
}

.chat-title {
    color:white;
    font-family: 'Fresca', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.04em;
    background-color:  #e676f0;
    width: 25%;
    text-align: center;
    padding: 0.2em;
    border-radius: 0.2em;
}

#send-message-area {
    flex: 1;
    padding: 1em;
    background-color: #f4def7;
    width: 85%;
    height: 60%;
    border-radius: 0.6em;
}

#chat-form {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.2em;
}

#messageInput {
    flex: 1;
    border: 2px solid #FFB6C1;
    border-radius: 0.4em;
    padding: 0.6em;
    height: 3em;
    box-sizing: border-box;
}

.button-send {
    border: none;
    border-radius: 0.4em;
    padding: 0.6em 1em;
    background-color: #FF69B4;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    height: 3em;
    width: 100%;
}

.button-send:hover {
    background-color: #FF1493;
}

#send-message-area p {
    background-color: #E0E0E0;
    border-radius: 0.4em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.apiKeyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    box-sizing: border-box;
    padding: 1em;

    overflow: hidden;
}

.cats {
    width: 14%;
}

#apiKeyInput {
    padding: 0.6em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 400px;
    border: 2px solid #FFB6C1;
    border-radius: 0.4em;
    box-sizing: border-box;
}

#saveApiKeyButton {
    padding: 0.6em 1.2em;
    background-color: #FF69B4;
    color: #fff;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
}

@media (min-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        width: 75%;
        height: 70%;
        margin-left: 4em;

    }

    .card-list {
        width: 100%;
        margin-bottom: 2em;
    }


    .wing-filters {
        top: 14%;
    }

    .card-container h2 {
        font-size: 1.2em;
        width: 100%;
        margin-left: 0.8em;
    }

    .img[itemprop="image"] {
        height: 18em;
        width: 17em;
    }


    .card-decorative-image {
        width: 8.5%;
        top: 51%;
        left: 3%;
    }


    .filters-container {
        margin-left: 6em;
      
    }


    .type {
        font-size: 1.2em;
        width: 60%;  
        margin-left: 5.1em;
    }

    h3 {
        font-size: 1em;
    }

    .chat-button {
        margin-left: 6.2em;
        margin-bottom: 1em;
        margin-top: 0.7em;
        font-size: 1.2em;
    }

    .container-max {
    
        gap: 1em;
       
    }
    
    #chat-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 80vh;
        background-color: #E19EFF;
        border-radius: 1em;
        box-shadow: 0 4px 8px rgba(244, 242, 245, 0.5);
        overflow: hidden;
        margin-top: 3em;
        gap: 1.8em;
        margin-left: 35%;
    }
    
    .chat-title {
        color:white;
        font-family: 'Fresca', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.04em;
        background-color:  #e676f0;
        width: 25%;
        text-align: center;
        padding: 0.2em;
        border-radius: 0.2em;
    }
    
    #send-message-area {
     
    }
    
    #chat-form {
        gap: 0.5em;
        margin-top: 0.2em;
    }
    
    #messageInput {
        margin-bottom: 1.5em;
    }
    
    .button-send {
        height: 3em;
        width: 90%;
        margin-bottom: 1.5em;
    }
    

    
    #send-message-area p {
        padding: 0.5em;
        margin-bottom: 0.5em;
    }
    
}