@import url('globales.css');

* {
    color: var(--color-withe);
    font-family: var(--font-family-base);
}

header {
    width: 100%;
    background-color: rgba(119, 109, 109, 0.3);
    margin: 0 auto;
}
/* IMAGEN PRINCIPAL DEL TITULO --------------------------------------------------------------------------------*/
img {
    height: 3.5rem;
    width: auto;
    margin: 4%;
}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}
/* DIV DEL BOTON HAMBURGUESA ------------------------------*/
.burger-container {
    width: auto;
}

/* BOTON HAMBURGUESA ------------------------------*/
#burger {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-withe);
    border: none;
    border-radius: 5px;
    padding: 0;
}

/* DIV DE LAS BARRAS DENTRO DE LA HAMBURGUESA ------------------------------*/
.bar {
    border-radius: 5px;
    margin: 5px auto;
    background-color: var(--color-black);
    width: 60%;
    height: 3px;
}

/* NAV DEL header------------------- */
.container-button-header{
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(178, 175, 175, 0.5);
}

.buttonHeader{
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    letter-spacing: 2px;
    width: 10rem;
}

.buttonHeader:hover{
    border-bottom: 5px solid var(--color-withe);
    font-weight: bold;
    background-color: transparent;
}


h2 {
    font-size: 1.5rem;
    font-family: "Carter One", system-ui;
}

.footer {
    color: #171717;
    
}

footer {
    background-color: rgba(217, 217, 217, 0.6);
    padding: 2rem 0;
    width: 100%;
}

body {
    margin: 0 auto;
    text-align: center;
    background-image: url("https://res.cloudinary.com/db3qclbrk/image/upload/v1719010056/fondo-1_1_xekjfk.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
}

/* BARRA NAV  --------------------------------------------------------------------------------*/
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.6);
    padding-top: 1rem;
    /* padding-bottom: 1rem; */

}

/* ETIQUETA DE LOS SELECT --------------------------------------------------------------------------------*/
label {
    color: #171717;
    font-weight: bold;
    font-size: 1.2rem;
}

/* DIV DE LOS SELECT --------------------------------------------------------------------------------*/
.select-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    
}

select {
    font-size: 1.2rem;
    width: 50%;
    color: #E7E7EC;
    background-color: #171717;
    border-left: 5px solid#870e0c;
    border-bottom: 5px solid#870e0c;
    border-radius: 0;
}

select option {
    font-size: 1rem;
}

select optgroup {
    font-size: 1rem;
    color: #e6c647;
}

/* BOTON DE RESET --------------------------------------------------------------------------------*/
button {
    font-size: 1.2rem;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #870e0c;
    border-left: 5px solid #171717;
    border-bottom: 5px solid #171717;
    /* padding: 0 1rem; */
}

/* DIV DE LOS BOTONES QUE MUESTRAN LAS ESTADISTICAS Y LA HAMBURGUESA ------------------------------*/
.computeStats {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(217, 217, 217, 0.6);
    padding: 0 1rem;
}


/* BOTON DE LAS ESTADISTICAS ------------------------------*/
#buttonStats {
    font-size: 1.2rem;
    /* margin: 1rem; */
    background-color: #112858;
    padding: 0 1rem;
    display: inline-block;
    width: auto;

    /* CAMBIA LA FORMA DEL BOTON COMO ESTABA EN EL PROTOTIPO */
    /* text-align: left;
    clip-path: polygon(0% 0%, 100% 0%, 85% 75%, 0% 100%);  */
}

/* DIV QUE APARECE CUANDO LE DAS AL BOTON DE LAS ESTADISTICAS ------------------------------*/
#showStats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* DIVS DE CADA ESTADISTICA--------------------------------------------------------*/
.stats {
    
    display: flex;
    align-items: center;
    margin: 2rem 0;
    background-color: #112858;
    max-width: 19%;
    flex: 30%;
    padding: 1.5rem;
    border-radius: 10px;
}

p {
    margin: 0;
    gap: 1rem;
    color: #E7E7EC;
    font-weight: bold;
    font-size: 1rem;
}

span {
    color: #e6c647;
    font-size: 1.2rem;
}

/* DIV CONTIENE EL UL QUE RENDERIZA LAS TARJETAS--------------------------------------------------------*/
.box-characters {
    margin: 1rem;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 2rem;
}

/* LI --------------------------------------------------------*/
.item-lista {
    background-color: rgba(14, 14, 14, 0.9);
    list-style: none;
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    border-radius: 30px;
    border: 8px solid #870e0c;
    
    margin: 0 10%;
}

/* IMAGEN DE LOS PERSONAJES --------------------------------------------------------*/
.image {
    flex: 2;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 23px 0 0 23px;
    margin-left: -1px;
    width: 80%;
}

/* AJUSTA TEXTO E IMAGEN DE LAS TARJETAS-------------------------------------------------*/
.item-lista dl {
    flex: 3;
    
}

/* TEXTOS DE LAS TARJETAS-------------------------------------------------*/
.name {
    font-size: 1.5rem;
    margin: 2%;
    font-family: "Carter One", system-ui;
}

.descripcion {
    font-size: 1.2rem;
    margin: 5% 7%;
}
/* DIV DE LOS FACTS ------------------------------ */
.facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

.label {
    font-size: 1rem;
    color: #E7E7EC;
}

.value {
    font-size: 1.3rem;
}

/* CAMBIOS AL PASAR EL MOUSE-------------------------------------------------*/
.item-lista:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

/* button:hover {
    background-color: #112858;
} */

#buttonStats:hover {
    background-color: #870e0c;
}

/* ------------------------MEDIAQUERIE TABLET---------------------------*/

@media (min-width: 768px) {

    h2 {
        font-size: 3rem;

    }
/* BARRA NAV  --------------------------------------------------------------------------------*/
    .controls {
        flex-direction: row;
        justify-content: center;
    }

    /* SELECT --------------------------------------------------------------------------------*/
    select {
        font-size: 1.2rem;
        border-left: 5px solid #870e0c;
        border-bottom: 5px solid #870e0c;
        width: auto;
    }

    label {
        font-size: 1.2rem;
        font-weight: bold;
        color: #171717;
    }

/* DIV DE LOS SELECT --------------------------------------------------------------------------------*/
.select-box {
    display: flex;
    justify-content: center;
    width: auto;
}

/* BOTON RESET --------------------------------------------------------------------------------*/
button {
    font-size: 1rem;
    border-left: 5px solid #171717;
    border-bottom: 5px solid #171717;
}

/* BOTON DE ESTADISTICAS --------------------------------------------------------------------------------*/
#buttonStats {
    font-size: 1.5rem;
    border-left: 5px solid #171717;
    border-bottom: 5px solid #171717;
}
}

/* ------------------------MEDIAQUERIE PC---------------------------*/
@media (min-width: 1024px) {

    /* IMAGEN PRINCIPAL DEL TITULO --------------------------------------------------------------------------------*/
    .header-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        background:  rgba(119, 109, 109, 0.3);
    }

    .computeStats{
        display: none;
    }
    img{
        height: 5rem;
        padding-left: 2rem;
    }

    .container-button-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        justify-content: space-around;
        background: none;
    }

    .buttonHeader{
        width: auto;
    }
    /* BARRA NAV  --------------------------------------------------------------------------------*/
    .controls {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1rem;

    }

    label {
        font-size: 1.7rem;
        font-weight: bold;
        color: #171717;
    }


    select {
        font-size: 1.7rem;
        border-left: 5px solid #870e0c;
        border-bottom: 5px solid #870e0c;

    }

    select option {
        font-size: 1.3rem;
    }

    select optgroup {
        font-size: 1.3rem;
    }
    
    /* BARRA RESET  --------------------------------------------------------------------------------*/
    button {
        font-size: 1.7rem;
        width: auto;
        height: auto;
        border-left: 5px solid #171717;
        border-bottom: 5px solid #171717;
    }

    /* OCULTA EL BOTON DE HAMBURGUESA --------------------------------------------------------------------------------*/
    .burger-container {
        display: none;
    }
    
    /* DIV DE LOS BOTONES QUE MUESTRAN LAS ESTADISTICAS Y LA HAMBURGUESA ------------------------------ */
    .computeStats {
        align-items: center;
        justify-content: center;
    }
    
    /* BOTON QUE MUESTRA LAS ESTADISTICAS ------------------------------ */
    #buttonStats {
        
        padding: 0.3rem 1rem;
        height: auto;
        text-align: left;
    }
    
    /* DIV QUE MUESTRA Y OCULTA LAS ESTADISTICAS------------------------------ */
    #showStats {
        justify-content: center;
        gap: 2rem;
    }
    
    /* DIVS DE CADA ESTADISTICA------------------------------ */
    .stats {
        max-width: 15rem;
        flex: 30%;
        
    }
    
    p {
        font-size: 2rem;
    }
    
    span {
        font-size: 2.3rem;
    }
    
    ul {
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        padding-top: 3rem;
    }
    
    /* LI ------------------------------ */
    .item-lista {
        flex: 25%;
        margin: 0 1%;
        max-width: 35%;
    }
    
    /* TEXTO DE LAS TARJETAS ------------------------------ */
    .name {
        font-size: 1.6rem;
    }
    
    .descripcion {
        font-size: 1.3rem;
    }
    
    .label {
        font-size: 1rem;
    }
    
    .value {
        font-size: 1.2rem;
    }
    
    /* DIV DE LOS FACTS ------------------------------ */
    .facts {
        gap: 0.5rem;
    }

    .footer{
        font-size: 1rem;
    }
} 