.detail-card {
    display: flex;
    width: 100%;
}

.card {
    flex: 0 0 calc(50% - 50x);
    background-color: rgb(247, 231, 244);
    padding: 20px;
    list-style-type: none;
    width: 500px;
    margin: auto;
}

.card li.item img {
    height: 300px;
    width: 450px;
    object-fit: cover;
}

.chat {
    display: flex;
    flex: 0 0 calc(60% - 50px);
    background-color: lightblue;
    padding: 20px 30px 20px 20px;
}

.write textarea,
.write button {
    width: 90%;
    margin: 20px;
}



.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    /* Gives the chat container a fixed height */
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;

}

.messages {
    background-image: linear-gradient(rgba(207, 159, 212, 0.35), rgba(235, 198, 233, 0.732));
    padding: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    /* Allows scrolling for long chats */
    max-height: 60vh;
    /* Restrict chatbox height */
}

.me {
    text-align: right;
    margin-bottom: 5px;
}

.her {
    text-align: left;
    margin-bottom: 5px;
}


.write {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
}

.message-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.send-button {
    width: 20%;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(227, 137, 215);
    color: rgb(10, 11, 11);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #f6d8f1;
}