
.detail-card{
    display: flex;
    width: 100%;
}

.card{
    flex: 0 0 calc(50% - 50x);
    background-color: rgb(247, 231, 244);
    padding: 20px;
    list-style-type: none;
    width: 500px;
    margin: auto;
}
.card li.item img {
    height: 300px;
    width: 450px;
    object-fit: cover;
  }

.chat{
    display: flex;
    flex: 0 0 calc(90% - 50px);
    background-color: lightblue;
    padding: 20px 30px 20px 20px;
}

.write textarea, .write button{
    width: 90%;
    margin: 20px;
}



.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;  /* Gives the chat container a fixed height */
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;

  }
  
  .messages {
    background-image: linear-gradient(rgba(163, 146, 165, 0.35), rgba(173, 173, 173, 0.732)),url("/imagenes/imagen1.png");  padding: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto; /* Allows scrolling for long chats */
    max-height: 60vh; /* Restrict chatbox height */
  }
  
  .me {
    text-align: right;
    margin-bottom: 5px;
  }
  
  .her {
    text-align: left;
    margin-bottom: 5px;
  }
  
  
  .write {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
  }
  
  .message-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .send-button {
    width: 20%;
    margin-left: 10px;
    padding: 10px;
    background-color: #b4b2b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #f6d8f1;
  }
  