* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
    
  } 
  
  body {
    font-family: Arial, sans-serif; /* Define la fuente */
    background-color: #f2eee1; /* Color de fondo suave */
    padding: 20px; 
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(171, 161, 166, 0.35), rgba(230, 221, 221, 0.244)),url("/imagenes/imagen1.png");

    
  }
  
  header {
    margin-bottom: 20px;
    text-align: center; /* Centra el contenido del header */

  }
      
  body header h1 {
    margin: 30px; /* Espacio superior */
    font-size: 10px; /* Tamaño de fuente */
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;

   
  }

  
  #root, #root>div, #cards_root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  #root>.detail-card {
    justify-content: left;
  }
  .card {
     margin: 10px;
     border: 2px solid #ddd; /* Borde de la tarjeta */
     border-radius: 30px 30px 30px 30px; /* Bordes redondeados */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
     background:rgba(56, 169, 148, 0.769); /* Color de fondo de las tarjetas */
     padding: 20px;
     text-align: center;
     flex: 1 0 calc(25% - 40px); /* Cada tarjeta ocupará un 40% del ancho del contenedor, menos el espacio del gap */
     box-sizing: border-box;
     max-width: calc(40% - 60px); /* Limitar el ancho máximo de cada tarjeta */
     display: flex;
     flex-wrap: wrap;
     list-style-type: none; /* Elimina los puntos de la lista */
     padding: 0; /* Elimina el padding */
     font-size: 1.1em;
     justify-content: space-between;
     overflow: hidden;
  }
   
  .card li.item {
        margin-bottom: 10px; /* Espaciado inferior entre ítems */
        display: flex;
        color: rgb(31, 34, 36);
        padding-left: 10px;
        text-align: center;

        
  }

  .card li.item:first-of-type{
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .card li.item img {
    margin-top: -15px;
    margin-left: -10px;
    height: 200px;
    width: 290px;
    border: 2px solid rgb(0, 0, 0);
    object-fit: cover;
  }
  select{
    background-color: rgba(56, 162, 169, 0.769);
    color: rgb(21, 22, 23);
    font-size: 23px;
    margin: 50px;

  } 
  label{
    color: rgb(12, 13, 13);
    text-shadow: 2px 2px 5px rgb(234, 220, 220);
    font-size: 2em;
  }
  button{
    background-color: rgba(56, 162, 169, 0.769);
    color: rgb(21, 22, 23);
    font-size: 23px;
    margin: 50px;
  }

                 
  footer {
    max-width: 100%;
    padding: 20px;
    bottom: 0%;
    text-align: center;
    color: rgb(11, 8, 10);
    text-shadow: 2px 2px 5px rgb(237, 215, 215);
    font-size: 2em;
  }
  #curious_fact{
    max-width: 100%;
    padding: 10px;
    bottom: 0%;
    text-align: center;
    margin: 10px;
    color: rgb(3, 2, 3);
    text-shadow: 2px 2px 5px rgb(246, 242, 242);
    font-size: 2em;
  }
  h3{
    color: rgb(3, 2, 3);
    text-shadow: 2px 2px 5px rgb(246, 242, 242);
  }
  #curious_fact div{
    margin: 30px;
  }
  @media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px); /* 50% del ancho menos el espacio del gap */
        max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 600px) {
    .card {
        flex: 1 1 calc(100% - 40px); /* 100% del ancho menos el espacio del gap */
        max-width: calc(100% - 40px);
    }}
 
.detail-card {
  justify-content: center;
  
}