@font-face {
    font-family: 'ROG Font';
    src: url(../Typografia/ROGFonts.otf);
}

@keyframes vibrate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(1.5deg);
    }

    50% {
        transform: rotate(-1.5deg);
    }

    75% {
        transform: rotate(1.5deg);
    }

    100% {
        transform: rotate(0);
    }
}

body {
    background-image: url("../img/FONDO\ M.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 55%;
    color: #DFDEE0;
    border-color: #F328F4;
    border-style: dashed;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-family: 'ROG Font';
    text-shadow:
        -1px -1px 0 #F328F4,
        1px -1px 0 #F328F4,
        -1px 1px 0 #F328F4,
        1px 1px 0 #F328F4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15%;
    padding-left: 3.5rem;
}

.imageHeader {
    width: 9rem;
    height: auto;
    cursor: pointer;
}

.imageHeader:hover {
    animation: vibrate 0.3s;
}

.containerBodyHome {
    display: flex;
    padding-top: 1rem;
}

.cardsContainer {
    padding: 2rem;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
    margin: 0rem;

}

ul :hover {
    background-color: rgba(45, 2, 85, 0.7);
    cursor: pointer;
}

li {
    justify-content: center;
    border: 0.06rem;
    border-style: dashed;
    border-color: #F428F3;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 18rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

li img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

li h3 {
    text-align: center;
    color: #DFDEE0;
    font-size: 1.18rem;
}

li p {
    color: #D1D1D3;
    font-size: 0.87rem;
    text-align: justify;
}

.chatIcon {
    height: 3rem;
    width: 3rem;
}

.chatIcon:hover {
    animation: vibrate 0.3s;
}

.boldText {
    font-size: 1.1em;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    padding: 2rem;
}

.filtros {
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    font-size: 1rem;
    padding: 2rem;
    margin-top: 3rem;
    border: 0.12rem solid;
    border-radius: 0.3rem;
    position: relative;
    white-space: nowrap;
}

label {
    padding: 0.06rem;
    color: #D1D1D3;
    font-weight: bold;
}

select {
    background-color: rgba(0, 0, 0, 0.8);
    color: #D1D1D3;
    border: solid #F428F3 0.06rem;
    border-radius: 0.3rem;
    height: 1.5rem;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0.2rem;
}

.limpiar-filtros {
    width: 55%;
    position: absolute;
    bottom: 0.6rem;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    color: #DFDEE0;
    border: solid #DFDEE0 0.06rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
}


#mejorCategoria,
#rankingPorAño,
#apiBox {
    background-color: rgba(0, 0, 0, 0.8);
    color: #DFDEE0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    white-space: nowrap;
}

#apiBox h3 {
    margin: 0.1rem;
    border: solid #F428F3 0.06rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    padding-right: 1rem;
}

#apiBox :hover {
    background-color: #515151;
    cursor: pointer;
}

#mejorCategoria p,
#rankingPorAño p {
    margin: 0;
    padding: 0;
}

#mejorCategoria h2,
#rankingPorAño h2 {
    font-size: 2.8rem;
    color: #DFDEE0;
    text-shadow:
        -1px -1px 0 #F428F3,
        1px -1px 0 #F428F3,
        -1px 1px 0 #F428F3,
        1px 1px 0 #F428F3;
    margin: 0;
    padding: 0.5rem;
}

#mejorCategoria h2 {
    font-size: 2.1rem;
}

.footer {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.footer p {
    font-size: 1rem;
    color: #D1D1D3;
}

.apiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;

}

.apiTitulo {
    color: #DFDEE0;
    font-size: 2rem;
    margin-top: 0;
    border: 0.06rem;
    border-style: dashed;
    border-color: #F428F3;
    border-radius: 0.5rem;
    width: 25rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}

.apiTextArea {
    width: 23rem;
    height: 2.2rem;
    border: 0.06rem;
    border-style: solid;
    border-color: #F428F3;
    border-radius: 0.5rem;
    background-color: rgba(241, 240, 240, 0.6);
    align-content: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#apiButton {
    width: 10rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: black;
    color: #DFDEE0;
    border: solid #DFDEE0 0.06rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#apiButton :hover {
    background-color: #515151;
}

.containerBodyCI {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
}

.barraLateralCI {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 2rem;
    border: 0.12rem solid;
    border-radius: 0.3rem;
    margin-right: 7rem;
}

.containerChatIndividual {
    border: 0.06rem;
    border-style: dashed;
    border-color: #F428F3;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 38rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #D1D1D3;
}

.containerCIOnly {
    display: flex;
    gap: 1rem;
}

.chatHeader {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #444;
}

.chatBody {
    flex-grow: 1;
    margin: 20px 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.chatFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.chatFooter input {
    width: 30rem;
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
}

.chatFooter button {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.gameCard {
    justify-content: center;
    border: 0.06rem;
    border-style: dashed;
    border-color: #F428F3;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 15rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.gameCard img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.longDescriptionElement {
    color: #D1D1D3;
    font-size: 0.85rem;
    text-align: left;
    overflow: hidden;
    max-height: 6.85rem;
    /* Cambia esto para ajustar la altura del texto visible */
    transition: max-height 0.3s ease;
}

.longDescriptionElement.expanded {
    max-height: none;
    /* Elimina la restricción de altura cuando se expande */
}

.gameCard button {
    color: white;
    margin: 0rem;
    border-radius: 0.2rem;
    border: solid;
    border-width: 0.05rem;
    border-color: #D1D1D3;
    background-color: rgba(0, 0, 0, 0.0);
}

.gameCard button:hover {
    color: black;
    margin: 0rem;
    border-radius: 0.2rem;
    border: solid;
    border-width: 0.05rem;
    border-color: #D1D1D3;
    background-color: #D1D1D3;
    cursor: pointer;
}

.user-message {
    display: flex;
    align-items: center;
    background-color: #515151;
    border-radius: 10px;
    height: 2rem;
    width:max-content;
    margin-left: auto;
    margin-bottom: 10px;
    text-align: right;
    padding: 3px;
}


/* 
@media (max-width:1000px) {
    .barra-lateral {
        display: none;
    }

    .menu-hamburguesa {
        cursor: pointer;
        display: flex;
        border-color: #F428F3;
        border-style: dashed;
        border-width: 0.15rem;
        border-radius: 0.3rem;
        padding: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.8rem;
    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 3%;
    }

    .header-logo {
        width: 5rem;
    }

    .barra-lateral-desplegada {
        display: block;
    }
    #ranking-por-año {
        display: none;
    }    
    #mejor-categoria {
        display: none;
    }
} */