@font-face {
  font-family: fuenteDisney;
  src: url(./assets/DisneyFont.ttf);
}

h1 {
  font-family: fuenteDisney, sans-serif;
  font-style: normal;
  font-size: 8.75rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 0 #c6ebfc;
  margin-top: 4.688rem;
  margin-bottom: 4.688rem;
}

body {
  background-image: url("https://i.pinimg.com/564x/5c/9f/71/5c9f71e8f59463a53ce0d1cd3b8a07d8.jpg");
  image-rendering: center;
  font-family: "Montserrat Alternates", sans-serif;
  color: #ddf8f8;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: #ac95ffd3;
  padding: 25px;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
}

.botonDatos {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #ac95ffd3;
  border: #ccc;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #ffd034;
    border-left: 5px solid #ffd034;
  }
  &:before {
    bottom: 1px;
    right: 1px;
    border-bottom: 5px solid #ffd034;
    border-right: 5px solid #ffd034;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      // border-color:white;
    }
  }
}

.contenido-oculto {
  display: none;
}

#datosestadisticos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.datosdisney {
  list-style-type: none;
  padding: 16px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.datosdisney li {
  flex: 1;
  padding: 0.625rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 4rem;
}

.datosdisney li#duracion {
  background-color: #fcf0c6;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.datosdisney li#nota {
  background-color: #fcf0c6;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.tituloSelectores {
  font-size: 120%;
}
.selectores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

select {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 100%;
  color: black;
  background-color: #fcf0c6;
  padding: 10px;
  border: solid;
  border-color: #ffd034;
  font-weight: bold;
  cursor: pointer;
  cursor: pointer;
  border-radius: 20px;
}

option {
  font-size: 100%;
  color: black;
  background-color: #fcf0c6;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  border-color: #ffd034;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  border-radius: 20px;
}

button {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 100%;
  background-color: #fcf0c6;
  color: black;
  padding: 10px;
  border: solid;
  border-color: #ffd034;
  border-width: 3px;
  border-radius: 20px;
  cursor: pointer;
}

.ulPelis {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  justify-content: center;
}

.contenedorContenido {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contenedorImagen {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.contenedorTextos {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-size: 110%;
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%;
}

.imagenPeli {
  height: 15rem;
  width: auto;
}

.tarjeta {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  gap: 1rem;
  width: 40%;
  text-align: justify;
  margin: 0.063rem;
  padding: 1rem;
  border-radius: 1.25rem;
  color: black;
}

.infoMovie {
  font-family: "Montserrat Alternates", sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  gap: 1rem;
  width: calc(50% - 2rem);
  text-align: justify;
  margin: 0.063rem;
  padding: 1rem;
  border-radius: 1.25rem;
  color: black;
  image-rendering: 1rem;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2%;
  text-align: center;
}

#root {
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
