/* --------------------- Mobile Design ------------------------- */

/* Mobile Navbar */

* {
    margin: 0px;
    font-family: 'Lato', sans-serif;
  }
  
  header h1 {
    width: auto;
    font-size: 1em;
    font-weight: 100;
    margin-top: 1.2em;
    margin-bottom: 1.4em;
    color: white;
    text-align: center;
  }
  
  body{
    margin: 0;
  
  }
  
  @media (min-width: 992px) {
    .sidebar {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .navbar-options {
      display: none;
      gap: 0;
    }
  }
  
  nav {
    width: 100%;
    height: 80px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 20px;
  }
  
  li {
    list-style: none;
  }
  
  /* Mobile Sidebar btn */
  
  .menu-btn {
    font-size: 1rem;
    cursor: pointer;
    color: white;
    margin: 20px;
  }
  
  /* Ocultar Sidebar */
  
  .sidebar {
    width: 300px; /* Definido un ancho fijo para la sidebar */
    height: 100%;
    position: absolute;
    background: #ffffff;
    left: -300px;
    transition: left 0.4s ease-in-out;
    z-index: 1600;
  }
  
  /* Activar Sidebar */
  
  .sidebar.active {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    transition: .4s
  }
  
  .sidebar ul li {
    padding-top: 0.5em;
    color: #222222;
    font-size: 100%;
    font-weight: 400;
    margin: 10%;
    line-height: 0.5em;
  }
  
  .sidebar ul {
    margin-top: 2em;
  }
  
  .sidebar .fa-xmark {
    font-size: 1.5em;
    position: absolute;
    top: 20px; /* Añadido para posicionar el icono de cerrar */
    right: 70px;
    cursor: pointer;
  }
  
  .fa-solid.fa-bars {
    color: white; /* Cambia el color del ícono a blanco */
  }
  /* Mobile Banner */
  
  .banner {
    width: 100%;
    height: 100vh; /* Ajusta la altura al 100% de la vista */
  
    height: 1000px;
    background-image: url(assets/dogi.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    flex-direction: column; /*ponerlo en columna*/
    justify-content: center;
    align-items: center;
  }

  .banner .texto {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .izquierda {
    width: 70%;
    /*height: 500px;*/
    display: flex;
    justify-content: center;
    /*margin-top: 8rem;*/
    margin-left: 6.5em;
    text-align: center;
    z-index: 19;
  }
  
  .vector {
    position: absolute;
    margin-right: 20px;
    width: 80%;
    height: 400px;
    margin-top: -90px;
    margin-right: 105px;
  }
  
  .img-banner {
    z-index: 19;
    width: auto;
    height: 250px;
    margin-right: 90px;
    margin-top: -5px;
  }
  
  .derecha {
    width: 50%;
    height: 500px;
    text-align: center;
    z-index: 19;
    margin-top: -180px;
  }
  
  .texto {
    text-align: center;
    width: 100%;
  }
  
  .texto h1 {
      font-size: 4em;
      font-weight: 400;
      color: white;
      line-height: 70px;
      margin-bottom: 1.5rem;
      /*text-align: center;*/
  }
  
  .texto h2, .texto p {
      color: white;
      margin-bottom: 0.9em;
  }
  
  .texto p {
      margin-left: 0px;
  }
  
  .texto h2 {
      margin-bottom: 1em;
  }
  
  #conocelos-btn {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ff7a00;
    border: none;
    box-shadow: 3px 4px #68686824;
  }
  
  
  /* Mobile Filtros y Tarjetas */
  
  /* Filtros */
  
  .mascotas-container {
    width: 100%;
    height: auto;
    padding-bottom: 5em;
    /*background-color: #C08AF3;*/
    box-shadow: rgba(0, 0, 0, 0.25);
  }
  
  .mascotas-barra {
    width: 100%;
    height: auto;
    gap: 1rem;
    /*background-color: #F0D8FF;*/
  }
  
  .opciones-mascota {
    width: auto;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
  }
  
  .opciones-mascota div, .opciones-mascota label{
    text-align: center;
  }
  
  #bars-2 {
    color: #ff7a00;;
    margin-right: 5px;
  }
  
  select[name='ordenar'] {
    background-color: #ff7a00;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 0.8em;
  }
  
  #btn-estadísticas {
    background-color: #ff7a00;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 0.9em;
  }
  
  #btn-limpiar {
    background-color: #f3ce00;
    margin: 20px 0px 0px 0px;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 1em;
  }
  
  #btn-limpiar:hover {
    cursor: pointer;
    background-color: #ffffffc5;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#5C2E80;
    text-align: center;
    font-size: 1.3em;
  }
  
  select[name='elegir'] {
    background-color: #D9D9D9;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#292929;
    text-align: center;
  }
  
  .mascotas-filtros {
    width: auto;
    margin: 40px 0px;
    text-align: center;
    display: none;
    justify-content: center;
  }
  
  /* Tarjetas */
  
  
  .mascotas-tarjetas {
    width: auto;
  }
  
  .nuestras-mascotas {
    width: auto;
    font-weight: 400;
    line-height: 60px;
    font-size: 3em;
    text-align: left;
    margin-left: 5%;
    padding-top: 0.5em;
  }
  
  .nuestras-mascotas span{
    color: #ff7a00;
    font-weight: 600;
    font-size: 1em;
  }
  
  .nuestras-mascotas p{
    font-size: 0.3em;
    line-height: 1em;
    margin-top: 10px;
    color: #292929;
  }
  
  .titulo-secundario {
    display: block;
    margin-top: 10px;
  }
  
  .huesos1{
    width: auto;
    text-align: center;
    margin-left: 65px;
    margin-top: -70px;
  }
  
  .huesos2{
    width: auto;
    text-align: center;
    margin-left: 65px;
    margin-top: -70px;
  }
  
  .img-hueso1 {
    width: 30%;
    transform: scaleX(-1);
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  
  .img-hueso2 {
    width: 30%;
    position: absolute;
  }
  
  .img-hueso3 {
    width: 30%;
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  
  .img-hueso4 {
    width: 30%;
    transform: scaleX(-1);
    position: absolute;
  }
  
  
  /* Tarjetas contenido */
  
  
  
  .ul-tarjeta{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    flex-wrap: wrap;
    }
  
  #root li{
    margin-top: 0.5em;
    z-index: 1500;
  }
  
  .tarjeta {
    display: flex;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.412);
    background-color: rgba(255, 255, 255, 0.8);
      max-width: 350px;
    flex-direction: column;
    padding: 20px;
    font-size: 1.1em;
    margin: 0 0 16px;
    color: #1e1e1e;
    text-align: left;
    line-height: 1.5em;
  }
  
  .tarjeta:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tarjeta-img {
    width: 100%;
    height: auto;
    display: block;
    /*border-radius: 50%;*/
    object-fit: cover;
    text-align: center;
    /*margin: 10px 40px 0 40px;*/
  }
  
  div[itemprop="name"] {
    margin: 1em 4em 1em 4em;
    color: white;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    text-align: center;
    background-color: #ff7a00;;
  }
  
  div .description {
    text-align: center;
  }
  
  /* Footer */
  
  footer{
    z-index: 550;
    background: #ff7a00;;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
  
  footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    z-index: 50;
  }
  
  footer .center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .center-column img {
    max-width: 100%;
    margin-bottom: 0.3em;
  }
  
  footer a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
  }
  
  footer h4{
    color: white;
    margin-bottom: 0.3em;
  }
  
  footer h2{
    color: white;
  }
  
  .name{
    margin-top: 1em;
  }
  
  .icon{
    display: flex;
    gap: 1em;
  }
  
  .icon i{
    font-size: 1.3em;
    color: white;
    cursor: pointer;
  }
  
  .estadisticas-section {
    height: 150px;
    display: none;
    margin: 0em 3em 2em 3em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    z-index: 30;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    /* From https://css.glass */
  }
  
  .estadisticas-section.active {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    transition: .4s
  }
  
  .btn-close2 {
    margin-top: 10px;
  }
  
  .estadisticas-section .fa-xmark {
    color: #000000;
    font-size: 1.2em;
    margin: 50px 10px 0 0;
    display: flex;
    justify-content: right;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .adoptados{
    margin-top: 2.6em;
  }
  
  /* --------------------- Desktop Design ------------------------- */
  
  dd {
    margin-inline-start: 40px;
  }
  
  @media (min-width: 992px) {
  
    *{
      margin: 0;
    }
  
    body{
    margin: 0;
  }
  
  /* Desktop Navbar */
  
  nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 30px;
  }
  
  li {
    list-style: none;
  }
  
  .navbar-options {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: white;
  }
  
  /* Botón Navbar Dona aquí */
  
  .li-donations{
    background-color: white;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#000000;
    text-align: center;
  }
  
  /* Desktop Sidebar btn */
  
  .menu-btn {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    color: #ffffff;
  }
  
  /* Ocultar Sidebar */
  
  #sidebar {
    width: 300px; /* Definido un ancho fijo para la sidebar */
    height: 100%;
    position: absolute;
    background: #ffffff;
    left: -300px;
    transition: left 0.4s ease;
    z-index: 100;
  }
  
  /* Activar Sidebar */
  
  #sidebar.active {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    transition: .4s
  }
  
  #sidebar ul li {
    padding-top: 0.5em;
    color: #222222;
    font-size: 100%;
    font-weight: 400;
    margin: 10%;
  }
  
  #sidebar ul {
    margin-top: 2em;
  }
  
  #sidebar .fa-xmark {
    font-size: 1.5em;
    position: absolute;
    top: 20px; /* Añadido para posicionar el icono de cerrar */
    right: 30px;
    cursor: pointer;
  }
  
  /* Desktop Banner */
  
  .banner {
      width: 100%;
      height: 780px;
      background-image: url(assets/dogi.jpg);
      background-size: cover; /* Ajusta el tamaño para que cubra el área */
      background-position: center; /* Centra la imagen */
      background-repeat: no-repeat; /* Evita que la imagen se repita */
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
  }
  
  .banner .texto {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .izquierda {
      width: 50%;
      height: 400px;
      display: flex;
      justify-content: space-around;
      margin-left: 17%;
  }
  
  .izquierda {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-left: 6.5em;
    text-align: center;
    z-index: 19;
  }
  
  .derecha {
      width: 70%;
      height: 400px;
      text-align: right;
      margin-right: 8%;
      margin-top: 20px;
      z-index: 20;
  }
  
  .derecha h1 {
      font-size: 5em;
      font-weight: 400;
      margin-bottom: 0.5em;
      color: white;
      line-height: 70px;
  }
  
  .vector {
      position: absolute;
      width: auto;
      height: 440px;
      margin-top: -85px;
      margin-right: 20px;
  }
  
  .img-banner {
      z-index: 19;
      width: auto;
      height: 320px;
      margin-right: -30px;
      margin-top: -30px;
  }
  
  .texto {
    vertical-align: center;
    text-align: right;
  }
  
  .texto h2, .texto p {
      color: white;
      font-size: 1.5em;
  }
  
  .texto p {
    margin-left: 250px;
    font-size: 1.1em;
  }
  
  #conocelos-btn {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #ff7a00;;
    border: none;
    box-shadow: 3px 4px #68686824;
  }
  
  /* Desktop Filtros y Tarjetas */
  
  /* Filtros */
  
  .mascotas-container {
    width: 100%;
    padding-bottom: 8em;
    /*background: linear-gradient(135deg, #F0F0F0, #E0E0E0);*/
      box-shadow: rgba(0, 0, 0, 0.25);
  }
  
  .mascotas-barra {
    width: 100%;
    height: 60px;
    gap: 1rem;
    /*background-color: #F0D8FF;*/
  }
  
  .opciones-mascota {
    width: auto;
    padding: 0px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0 50px 0 50px;
  }
  
  #bars-2 {
    color: #ff7a00;
    margin-right: 5px;
  }
  
  select[name='ordenar'] {
    background-color: #ff7a00;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
  }
  
  
  #btn-estadísticas {
    background-color: #ff7a00;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 0.9em;
  }
  
  #btn-limpiar {
    background-color: #f3ce00;
    margin: 50px 0px 0px 0px;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 1.3em;
  }
  
  #btn-limpiar:hover {
    cursor: pointer;
    background-color: #ffffffc5;
    border-radius: 2em;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#5C2E80;
    text-align: center;
    font-size: 1.3em;
  }
  
  
  select[name='elegir'] {
    background-color: #5C2E80;
    border: none;
    padding-top: 0.4em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0.4em;
    color:#ffffff;
    text-align: center;
    font-size: 1.1em;
  }
  
  .mascotas-filtros {
    width: auto;
    margin: 40px;
    text-align: center;
    display: none;
    justify-content: center;
  }
  
  
  .adoptados{
    margin-top: 1.8em;
  }
  
  select[name='elegir'] {
    background-color: #D9D9D9;
    border: none;
    padding-top: 0.4em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.4em;
    color:#292929;
    text-align: center;
  }
  
  /* Tarjetas */
  
  #root{
    margin-top: 0px;
  }
  
  /* Tarjetas contenido */
  
  .mascotas-tarjetas {
    width: auto;
  }
  
  .nuestras-mascotas {
    width: auto;
    font-family: "Cherry Bomb One";
    font-size: 3.5em;
    font-weight: 400;
    color: #ff7a00;;
    line-height: 80px;
    text-align: left;
    margin-left: 5%;
  }
  
  .huesos1{
    text-align: center;
    margin-left: 190px;
    margin-top: -200px;
  }
  
  .huesos2{
    text-align: center;
    margin-left: 190px;
    margin-top: -230px;
    margin-bottom: 200px;
  }
  
  .img-hueso1 {
    transform: scaleX(-1);
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  
  .img-hueso2 {
    position: absolute;
  }
  
  .img-hueso3 {
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  
  .img-hueso4 {
    transform: scaleX(-1);
    position: absolute;
  }
  
  #root .ul-tarjeta{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    flex-wrap: wrap;
    }
  
  #root li{
    margin-top: 0.5em;
    z-index: 1500;
  }
  
  .tarjeta {
    display: flex;
    width: auto;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 350px;
    flex-direction: column;
    padding: 20px;
    font-size: 1.1em;
    margin: 0 0 16px;
    color: #1e1e1e;
    text-align: left;
    line-height: 1.5em;
  }
  
  .tarjeta:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tarjeta-img {
    width: 100%;
    height: auto;
    display: block;
    /*border-radius: 50%;*/
    object-fit: cover;
    text-align: center;
    /*margin: 10px 40px 0 40px;*/
  }
  
  .estadisticas-section {
    width: 70%;
    height: 150px;
    display: none;
    margin: 2em 10em 0 10em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    z-index: 30;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .estadisticas-section.active {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    transition: .4s
  }
  
  .btn-close2 {
    margin-top: 10px;
  }
  
  .estadisticas-section .fa-xmark {
    color: #000000;
    font-size: 1.2em;
    margin: 50px 10px 0 0;
    display: flex;
    justify-content: right;
    cursor: pointer;
    padding-top: 1em;
    padding-right: 10px;
  }
  
  }
  